# Node modules
node_modules/

# Build output
dist/

# Local env files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
coverage/
.env.*.local

# OS files
.DS_Store
Thumbs.db
